<div class="comment">
	<p><%= comment.body %></p>
	<p><b>By:</b> <%= comment.commenter %></p>
	<p class="al-rt"><%= link_to 'Destroy Comment', [comment.post, comment],
	               :confirm => 'Are you sure?',
	               :method => :delete %></p>
</div>